In [24]:
import pandas as pd
pd.set_option('display.max_rows', 999)
pd.options.display.max_columns = None

In [3]:
! aws s3 ls s3://lincoln.harris-work/getMutationCounts_out/ > out.txt
! cat out.txt

2019-04-18 11:28:50          0
2019-04-19 11:54:58     165626 AKT1_out.csv
2019-04-19 11:54:58     163017 AKT1_out_AA.csv
2019-04-19 11:54:58     158510 ALK_out.csv
2019-04-19 11:54:58     158486 ALK_out_AA.csv
2019-04-18 15:05:59     158460 BAP1_out.csv
2019-04-18 15:05:59     158451 BAP1_out_AA.csv
2019-04-19 11:54:58     158756 BRAF_out.csv
2019-04-19 11:54:58     158621 BRAF_out_AA.csv
2019-05-14 16:02:06     158596 BRCA1.csv
2019-05-14 16:02:05     158561 BRCA1_AA.csv
2019-05-14 16:02:06     158779 BRCA2.csv
2019-05-14 16:02:06     158683 BRCA2_AA.csv
2019-05-14 16:02:06     158440 BRIP.csv
2019-05-14 16:02:06     158437 BRIP_AA.csv
2019-05-14 16:02:06     158430 BTK.csv
2019-05-14 16:02:06     158430 BTK_AA.csv
2019-05-14 16:02:05     158800 CTNNB1.csv
2019-05-14 16:02:05     158682 CTNNB1_AA.csv
2019-04-19 11:54:58     159490 DDR2_out.csv
2019-04-19 11:54:58     159186 DDR2_out_AA.csv
2019-04-18 15:05:59     161296 DROSHA_out.csv
2019-04-18 15:06:00     160772 DROSHA_out_AA.csv
2019-04-19 11:54:58     183615 EGFR_out.csv
2019-04-19 11:54:58     177743 EGFR_out_AA.csv
2019-04-19 11:54:58     158530 ERBB2_out.csv
2019-04-19 11:54:58     158500 ERBB2_out_AA.csv
2019-04-18 11:29:37     158496 ERBB4_out.csv
2019-04-18 11:29:37     158472 ERBB4_out_AA.csv
2019-05-14 16:02:05     159102 FGFR1.csv
2019-05-14 16:02:06     158898 FGFR1_AA.csv
2019-04-19 11:54:58     158474 FGFR2_out.csv
2019-04-19 11:54:58     158456 FGFR2_out_AA.csv
2019-04-18 15:06:00     158430 GRIN2A_out.csv
2019-04-18 15:05:59     158430 GRIN2A_out_AA.csv
2019-05-14 16:02:06     158540 HER2.csv
2019-05-14 16:02:06     158505 HER2_AA.csv
2019-04-19 11:54:58     158710 HIF1a_out.csv
2019-04-19 11:54:58     158626 HIF1a_out_AA.csv
2019-05-14 16:02:06     158430 JAK1.csv
2019-05-14 16:02:06     158430 JAK1_AA.csv
2019-04-19 11:54:58     158920 KDR_out.csv
2019-04-19 11:54:58     158784 KDR_out_AA.csv
2019-04-18 15:05:59     176879 KEAP1_out.csv
2019-04-18 15:05:59     171949 KEAP1_out_AA.csv
2019-04-19 11:54:58     159272 KRAS_out.csv
2019-04-19 11:54:58     158939 KRAS_out_AA.csv
2019-04-19 11:54:59     158824 MAP2K1_out.csv
2019-04-19 11:54:58     158684 MAP2K1_out_AA.csv
2019-04-19 11:54:59     162080 MAP2K2_out.csv
2019-04-19 11:54:59     161227 MAP2K2_out_AA.csv
2019-05-14 16:02:06     160286 MET.csv
2019-05-14 16:02:06     159730 MET_AA.csv
2019-04-19 11:54:59     158460 MYCL_out.csv
2019-04-19 11:54:59     158451 MYCL_out_AA.csv
2019-05-14 16:02:06     158430 NF1.csv
2019-05-14 16:02:06     158430 NF1_AA.csv
2019-04-18 11:29:37     161371 NFE2L2_out.csv
2019-04-18 11:29:37     160155 NFE2L2_out_AA.csv
2019-04-18 11:29:38     158770 NKX2-1_out.csv
2019-04-18 11:29:38     158727 NKX2-1_out_AA.csv
2019-04-19 11:54:59     158915 NOTCH1_out.csv
2019-04-19 11:54:59     158773 NOTCH1_out_AA.csv
2019-05-14 16:02:06     158544 PIK3CA.csv
2019-05-14 16:02:06     158508 PIK3CA_AA.csv
2019-04-19 11:54:59     158452 PIK3CB_out.csv
2019-04-19 11:54:59     158445 PIK3CB_out_AA.csv
2019-04-18 15:05:59     161516 PTPN13_out.csv
2019-04-18 15:05:59     161466 PTPN13_out_AA.csv
2019-04-18 15:05:59     158516 PTPRT_out.csv
2019-04-18 15:05:59     158495 PTPRT_out_AA.csv
2019-04-18 11:29:38     158951 RAD21_out.csv
2019-04-18 11:29:38     158746 RAD21_out_AA.csv
2019-05-14 16:02:06     158430 RARA.csv
2019-05-14 16:02:06     158430 RARA_AA.csv
2019-04-18 15:06:00     158810 RB1_out.csv
2019-04-18 15:06:00     158712 RB1_out_AA.csv
2019-04-18 15:06:00     158430 RBM10_out.csv
2019-04-18 15:06:00     158430 RBM10_out_AA.csv
2019-05-14 16:02:06     158430 RET.csv
2019-05-14 16:02:06     158430 RET_AA.csv
2019-04-19 11:54:59     158454 RET_out.csv
2019-04-19 11:54:59     158448 RET_out_AA.csv
2019-05-14 16:02:06     158580 SETD2.csv
2019-05-14 16:02:06     158530 SETD2_AA.csv
2019-05-14 16:02:06     158480 SMAD4.csv
2019-05-14 16:02:06     158465 SMAD4_AA.csv
2019-04-18 15:06:00     160775 SMARCA4_out.csv
2019-04-18 15:06:00     160323 SMARCA4_out_AA.csv
2019-04-19 11:54:59     158496 SOX2_out.csv
2019-04-19 11:54:59     158472 SOX2_out_AA.csv
2019-05-14 16:02:06     158430 SPTA1.csv
2019-05-14 16:02:06     158430 SPTA1_AA.csv
2019-04-18 15:06:00     159359 STK11_out.csv
2019-04-18 15:06:00     159088 STK11_out_AA.csv
2019-05-14 16:02:06     158430 TET2.csv
2019-05-14 16:02:06     158430 TET2_AA.csv
2019-04-19 11:54:59     165550 TP53_out.csv
2019-04-19 11:54:59     163794 TP53_out_AA.csv
2019-04-19 11:54:59     158529 TP63_out.csv
2019-04-19 11:54:59     158493 TP63_out_AA.csv
2019-05-14 16:02:06     158460 VHL.csv
2019-05-14 16:02:06     158451 VHL_AA.csv

In [9]:
bucket = pd.read_csv('out.txt', delim_whitespace=True, names=['date', 'time', 'size', 'name'])
bucket = bucket.drop(0)
bucket

           date      time    size                name
1    2019-04-19  11:54:58  165626        AKT1_out.csv
2    2019-04-19  11:54:58  163017     AKT1_out_AA.csv
3    2019-04-19  11:54:58  158510         ALK_out.csv
4    2019-04-19  11:54:58  158486      ALK_out_AA.csv
5    2019-04-18  15:05:59  158460        BAP1_out.csv
6    2019-04-18  15:05:59  158451     BAP1_out_AA.csv
7    2019-04-19  11:54:58  158756        BRAF_out.csv
8    2019-04-19  11:54:58  158621     BRAF_out_AA.csv
9    2019-05-14  16:02:06  158596           BRCA1.csv
10   2019-05-14  16:02:05  158561        BRCA1_AA.csv
11   2019-05-14  16:02:06  158779           BRCA2.csv
12   2019-05-14  16:02:06  158683        BRCA2_AA.csv
13   2019-05-14  16:02:06  158440            BRIP.csv
14   2019-05-14  16:02:06  158437         BRIP_AA.csv
15   2019-05-14  16:02:06  158430             BTK.csv
16   2019-05-14  16:02:06  158430          BTK_AA.csv
17   2019-05-14  16:02:05  158800          CTNNB1.csv
18   2019-05-14  16:02:05  158682       CTNNB1_AA.csv
19   2019-04-19  11:54:58  159490        DDR2_out.csv
20   2019-04-19  11:54:58  159186     DDR2_out_AA.csv
21   2019-04-18  15:05:59  161296      DROSHA_out.csv
22   2019-04-18  15:06:00  160772   DROSHA_out_AA.csv
23   2019-04-19  11:54:58  183615        EGFR_out.csv
24   2019-04-19  11:54:58  177743     EGFR_out_AA.csv
25   2019-04-19  11:54:58  158530       ERBB2_out.csv
26   2019-04-19  11:54:58  158500    ERBB2_out_AA.csv
27   2019-04-18  11:29:37  158496       ERBB4_out.csv
28   2019-04-18  11:29:37  158472    ERBB4_out_AA.csv
29   2019-05-14  16:02:05  159102           FGFR1.csv
30   2019-05-14  16:02:06  158898        FGFR1_AA.csv
..          ...       ...     ...                 ...
73   2019-05-14  16:02:06  158430            RARA.csv
74   2019-05-14  16:02:06  158430         RARA_AA.csv
75   2019-04-18  15:06:00  158810         RB1_out.csv
76   2019-04-18  15:06:00  158712      RB1_out_AA.csv
77   2019-04-18  15:06:00  158430       RBM10_out.csv
78   2019-04-18  15:06:00  158430    RBM10_out_AA.csv
79   2019-05-14  16:02:06  158430             RET.csv
80   2019-05-14  16:02:06  158430          RET_AA.csv
81   2019-04-19  11:54:59  158454         RET_out.csv
82   2019-04-19  11:54:59  158448      RET_out_AA.csv
83   2019-05-14  16:02:06  158580           SETD2.csv
84   2019-05-14  16:02:06  158530        SETD2_AA.csv
85   2019-05-14  16:02:06  158480           SMAD4.csv
86   2019-05-14  16:02:06  158465        SMAD4_AA.csv
87   2019-04-18  15:06:00  160775     SMARCA4_out.csv
88   2019-04-18  15:06:00  160323  SMARCA4_out_AA.csv
89   2019-04-19  11:54:59  158496        SOX2_out.csv
90   2019-04-19  11:54:59  158472     SOX2_out_AA.csv
91   2019-05-14  16:02:06  158430           SPTA1.csv
92   2019-05-14  16:02:06  158430        SPTA1_AA.csv
93   2019-04-18  15:06:00  159359       STK11_out.csv
94   2019-04-18  15:06:00  159088    STK11_out_AA.csv
95   2019-05-14  16:02:06  158430            TET2.csv
96   2019-05-14  16:02:06  158430         TET2_AA.csv
97   2019-04-19  11:54:59  165550        TP53_out.csv
98   2019-04-19  11:54:59  163794     TP53_out_AA.csv
99   2019-04-19  11:54:59  158529        TP63_out.csv
100  2019-04-19  11:54:59  158493     TP63_out_AA.csv
101  2019-05-14  16:02:06  158460             VHL.csv
102  2019-05-14  16:02:06  158451          VHL_AA.csv

[102 rows x 4 columns]

In [29]:
fNames = bucket['name'].str.strip('.csv')
fNames

1            AKT1_out
2         AKT1_out_AA
3             ALK_out
4          ALK_out_AA
5            BAP1_out
6         BAP1_out_AA
7            BRAF_out
8         BRAF_out_AA
9               BRCA1
10           BRCA1_AA
11              BRCA2
12           BRCA2_AA
13               BRIP
14            BRIP_AA
15                BTK
16             BTK_AA
17             CTNNB1
18          CTNNB1_AA
19           DDR2_out
20        DDR2_out_AA
21         DROSHA_out
22      DROSHA_out_AA
23           EGFR_out
24        EGFR_out_AA
25          ERBB2_out
26       ERBB2_out_AA
27          ERBB4_out
28       ERBB4_out_AA
29              FGFR1
30           FGFR1_AA
31          FGFR2_out
32       FGFR2_out_AA
33         GRIN2A_out
34      GRIN2A_out_AA
35               HER2
36            HER2_AA
37          HIF1a_out
38       HIF1a_out_AA
39               JAK1
40            JAK1_AA
41            KDR_out
42         KDR_out_AA
43          KEAP1_out
44       KEAP1_out_AA
45           KRAS_out
46        KRAS_out_AA
47         MAP2K1_out
48      MAP2K1_out_AA
49         MAP2K2_out
50      MAP2K2_out_AA
51                MET
52             MET_AA
53           MYCL_out
54        MYCL_out_AA
55                NF1
56             NF1_AA
57         NFE2L2_out
58      NFE2L2_out_AA
59         NKX2-1_out
60      NKX2-1_out_AA
61         NOTCH1_out
62      NOTCH1_out_AA
63             PIK3CA
64          PIK3CA_AA
65         PIK3CB_out
66      PIK3CB_out_AA
67         PTPN13_out
68      PTPN13_out_AA
69          PTPRT_out
70       PTPRT_out_AA
71          RAD21_out
72       RAD21_out_AA
73               RARA
74            RARA_AA
75            RB1_out
76         RB1_out_AA
77          RBM10_out
78       RBM10_out_AA
79                RET
80             RET_AA
81            RET_out
82         RET_out_AA
83              SETD2
84           SETD2_AA
85              SMAD4
86           SMAD4_AA
87        SMARCA4_out
88     SMARCA4_out_AA
89           SOX2_out
90        SOX2_out_AA
91              SPTA1
92           SPTA1_AA
93          STK11_out
94       STK11_out_AA
95               TET2
96            TET2_AA
97           TP53_out
98        TP53_out_AA
99           TP63_out
100       TP63_out_AA
101               VHL
102            VHL_AA
Name: name, dtype: object

In [41]:
fNames = fNames.str.replace('_out', '')
fNames = fNames.str.replace('_out_AA', '')
fNames = fNames.str.replace('_AA', '')
fNames

1         AKT1
2         AKT1
3          ALK
4          ALK
5         BAP1
6         BAP1
7         BRAF
8         BRAF
9        BRCA1
10       BRCA1
11       BRCA2
12       BRCA2
13        BRIP
14        BRIP
15         BTK
16         BTK
17      CTNNB1
18      CTNNB1
19        DDR2
20        DDR2
21      DROSHA
22      DROSHA
23        EGFR
24        EGFR
25       ERBB2
26       ERBB2
27       ERBB4
28       ERBB4
29       FGFR1
30       FGFR1
31       FGFR2
32       FGFR2
33      GRIN2A
34      GRIN2A
35        HER2
36        HER2
37       HIF1a
38       HIF1a
39        JAK1
40        JAK1
41         KDR
42         KDR
43       KEAP1
44       KEAP1
45        KRAS
46        KRAS
47      MAP2K1
48      MAP2K1
49      MAP2K2
50      MAP2K2
51         MET
52         MET
53        MYCL
54        MYCL
55         NF1
56         NF1
57      NFE2L2
58      NFE2L2
59      NKX2-1
60      NKX2-1
61      NOTCH1
62      NOTCH1
63      PIK3CA
64      PIK3CA
65      PIK3CB
66      PIK3CB
67      PTPN13
68      PTPN13
69       PTPRT
70       PTPRT
71       RAD21
72       RAD21
73        RARA
74        RARA
75         RB1
76         RB1
77       RBM10
78       RBM10
79         RET
80         RET
81         RET
82         RET
83       SETD2
84       SETD2
85       SMAD4
86       SMAD4
87     SMARCA4
88     SMARCA4
89        SOX2
90        SOX2
91       SPTA1
92       SPTA1
93       STK11
94       STK11
95        TET2
96        TET2
97        TP53
98        TP53
99        TP63
100       TP63
101        VHL
102        VHL
Name: name, dtype: object

In [42]:
unique_genes = set(list(fNames))
unique_genes

{'AKT1',
 'ALK',
 'BAP1',
 'BRAF',
 'BRCA1',
 'BRCA2',
 'BRIP',
 'BTK',
 'CTNNB1',
 'DDR2',
 'DROSHA',
 'EGFR',
 'ERBB2',
 'ERBB4',
 'FGFR1',
 'FGFR2',
 'GRIN2A',
 'HER2',
 'HIF1a',
 'JAK1',
 'KDR',
 'KEAP1',
 'KRAS',
 'MAP2K1',
 'MAP2K2',
 'MET',
 'MYCL',
 'NF1',
 'NFE2L2',
 'NKX2-1',
 'NOTCH1',
 'PIK3CA',
 'PIK3CB',
 'PTPN13',
 'PTPRT',
 'RAD21',
 'RARA',
 'RB1',
 'RBM10',
 'RET',
 'SETD2',
 'SMAD4',
 'SMARCA4',
 'SOX2',
 'SPTA1',
 'STK11',
 'TET2',
 'TP53',
 'TP63',
 'VHL'}

In [43]:
len(unique_genes)

50

In [44]:
cosmic_tier1 = ['BRIP','NF1','BRCA2','VHL','BTK','RARA','SPTA1','FGFR1','SETD2','JAK1','SMAD4','CTNNB1',
                'TET2','RET','PIK3CA','EGFR','KRAS','ALK','BRAF','ROS1','STRN','TFG','TPR','AKT1','DDR2',
                'HIF1A','KDR','MAP2K1','MAP2K2','MYCL','PIK3CB','SOX2','CD74','ERBB2','FGFR2','HIP1',
                'RET','ERBB4','NFE2L2','NKX21','RAD21','TP63','NOTCH1','TP53','BAP1','DROSHA','GRIN2A',
                'KEAP1','PTPN13','PTPRT','RB1','RBM10','SMARCA4','STK11','CCDC6','TPM3']

In [47]:
toSearchFor = set(cosmic_tier1) - set(unique_genes)
toSearchFor

{'CCDC6',
 'CD74',
 'HIF1A',
 'HIP1',
 'NKX21',
 'ROS1',
 'STRN',
 'TFG',
 'TPM3',
 'TPR'}