In [ ]:
# create histograms for the number of specific mutations found in a given gene, across all cells
# holy shit does this work??

In [2]:
import pandas as pd
import os

In [41]:
def dict_to_csv(d, fname):
    with open(fname, 'w') as f:
        for key in d.keys():
            f.write("%s,%s\n"%(key,d[key]))

In [42]:
path = '/Users/lincoln.harris/code/cerebra/cerebra/wrkdir/getMutationCounts_out'

for file in os.listdir(path):
    gene = file.strip('_out_AA.csv')
    currHisto = {}
    histo_name = gene + '_histo.csv'
    print(gene)
    
    if '_AA.csv' in file:
        filePath = path + '/' + file
        
        with open(filePath, 'r') as currFile:
            data = currFile.readlines()
            for line in data:
                if not '[]' in line:
                    lineSplt = line.split(',')[1]
                    mut = lineSplt.strip("\n")
                    mut = mut.lstrip()
                    mut = mut.rstrip()
                    mut = mut.strip("]")
                    mut = mut.strip("[")
                    mut = mut.strip("'")
                    
                    if "'" in mut:    # why tf do i have to do this? 
                        mut = mut.split("'")[1]
                        
                    if mut not in currHisto:
                        currHisto.update({mut:1})
                    else:
                        currDictVal = currHisto[mut]
                        currDictVal += 1
                        currHisto.update({mut:currDictVal})
                        
        dict_to_csv(currHisto, histo_name)

RET
TP63
NFE2L2
ERBB2
HIF1a
RET
PIK3C
NOTCH1
TET2
PTPRT
RAR
SPTA1
RAD21
TP63
HER2
JAK1
STK11
DROSH
HER2
RET
MYCL
JAK1
MET
BRIP
TET2
BRIP
SETD2
RBM10
KRAS
SMAD4
MAP2K2
SMARCA4
BRAF
KEAP1
DDR2
MYCL
BRCA1
HIF1a
GRIN2
DDR2
NFE2L2
PIK3CB
ERBB2
RB1
NKX2-1
SMARCA4
KDR
CTNNB1
PIK3CB
BTK
RAD21
NKX2-1
BAP1
TP53
BAP1
FGFR2
RET
VHL
CTNNB1
TP53
EGFR
SOX2
PTPN13
RBM10
MAP2K1
FGFR1
NF1
MET
NOTCH1
FGFR1
MAP2K1
KT1
BRCA1
LK
SMAD4
KT1
FGFR2
ERBB4
SPTA1
BRAF
LK
BRCA2
ERBB4
DROSH
KEAP1
STK11
KRAS
BTK
SETD2
EGFR
RAR
NF1
BRCA2
PTPN13
KDR
GRIN2
PIK3C
SOX2
VHL
MAP2K2
RB1
PTPRT

In [48]:
braf_histo = pd.read_csv('BRAF_histo.csv', names=['mutation', 'counts'])
braf_histo

   mutation  counts
0     G643G       5
1     G469L       1
2     V600E       6
3      L89L       1
4     G466E       3
5     A762E       3
6         ?       3
7     Q609H       1
8     R682W       1
9     L597V       1
10    S679N       1

In [55]:
braf_histo.sort_values(by='counts', ascending=False)

   mutation  counts
2     V600E       6
0     G643G       5
4     G466E       3
5     A762E       3
6         ?       3
1     G469L       1
3      L89L       1
7     Q609H       1
8     R682W       1
9     L597V       1
10    S679N       1

In [81]:
big_df = pd.DataFrame(columns=['gene', 'mutation', 'count'])
big_df

Empty DataFrame
Columns: [gene, mutation, count]
Index: []

In [82]:
fullPath = '/Users/lincoln.harris/code/potLuck/'

for file in os.listdir('histo'):
    gene = file.strip('_histo.csv')
    filePath = fullPath + 'histo/' + file
    
    curr_df = pd.read_csv(filePath, names=['mutation', 'count'])
    curr_df['gene'] = gene
    curr_df = curr_df[['gene', 'mutation', 'count']]
    
    big_df = pd.concat([big_df, curr_df])

In [83]:
big_df

      gene    mutation count
0    HIF1a       A612T    18
1    HIF1a       K310N     2
2    HIF1a       M250I     5
3    HIF1a       T666S     1
4    HIF1a       A640P     1
5    HIF1a       Q721E     1
0    PIK3C      M1043V     1
1    PIK3C       P539R     1
2    PIK3C       Q958*     1
3    PIK3C       N107Y     1
4    PIK3C       L177F     1
5    PIK3C       E726K     1
6    PIK3C      G1049R     1
7    PIK3C      Y1021C     1
8    PIK3C       H495L     1
0     HER2       Q943*     3
1     HER2       R143Q     1
2     HER2       V293M     1
3     HER2       T902S     3
4     HER2        A16V     2
5     HER2       Y772Y     1
0   NFE2L2        G81S    94
1   NFE2L2       K506N    20
2   NFE2L2        T80A     1
3   NFE2L2        T80K     2
4   NFE2L2        Q26L     3
5   NFE2L2       S414N    33
6   NFE2L2       H416Y    11
7   NFE2L2   S597fs*>8     5
8   NFE2L2        D29H     7
..     ...         ...   ...
2    SETD2      L1815F     1
3    SETD2      D1939N     2
4    SETD2      E1816*     2
5    SETD2      W2016C     3
6    SETD2      C1501S     1
7    SETD2      W2016R     1
0      MET       S178S    36
1      MET      A1357A    14
2      MET       S283S     9
3      MET      D1304D    18
4      MET           ?     1
5      MET       K223K     1
6      MET       K305*     8
7      MET       H476Y     1
8      MET        C98F     2
9      MET      P1382P     3
10     MET       R426R     1
11     MET         K2N     4
12     MET       P742A     1
13     MET       N315S     5
14     MET      H1097D     3
15     MET       Y321H     1
16     MET       Q524Q     1
17     MET      A1372P     1
0    BRCA2       N372H    23
1    BRCA2       N289H     6
2    BRCA2  K3416fs*>3     2
3    BRCA2      K1132K     1
4    BRCA2   N255fs*21     1
5    BRCA2       V741L     1

[744 rows x 3 columns]

In [85]:
big_df = big_df.sort_values(by='count', ascending=False)
big_df

       gene           mutation count
0       KT1              E242E   620
1     KEAP1              L471L   557
1      EGFR              T629T   396
0    PTPN13             S1001S   351
0      TP53              S241F   261
0    MAP2K2              I220I   236
2      EGFR              T903T   152
1     DROSH             N1255N   148
0      EGFR              R521K   121
0     KEAP1              Y537Y   105
3      EGFR              Q787Q   100
0    NFE2L2               G81S    94
0      DDR2              A499A    67
3   SMARCA4              H508H    58
11     EGFR  E746_A750delELREA    52
2   SMARCA4         P153fs*150    44
5    MAP2K2              R297R    43
23     TP53              C242S    38
0       MET              S178S    36
5    NFE2L2              S414N    33
20     TP53              P105P    31
0     DROSH             P1102P    24
0     FGFR1              T403T    24
0     BRCA2              N372H    23
9      TP53               L52P    21
7      TP53               P72R    21
4     KEAP1              R272H    21
1    NFE2L2              K506N    20
0      KRAS               G12C    19
8      EGFR        K745_A750>T    19
..      ...                ...   ...
5        LK              L363L     1
0     RAD21              Q293E     1
24    RAD21              T199S     1
2      TP53              E298*     1
12    FGFR1              T395N     1
11    FGFR1              R254R     1
10    FGFR1              L548R     1
8     FGFR1              C488C     1
7     FGFR1              S371S     1
4     FGFR1              P800L     1
2     FGFR1              R445W     1
5      TP63              T144T     1
4      TP63              C339F     1
3      TP63              S184W     1
2      TP63              F156F     1
22    RAD21              D118V     1
3     RAD21              L451L     1
21    RAD21              K596E     1
20    RAD21              D123Y     1
19    RAD21              L567V     1
18    RAD21              G221A     1
16    RAD21              L324P     1
13    RAD21              M272I     1
12    RAD21              E365Q     1
9     RAD21              R627K     1
8     RAD21               E98Q     1
7     RAD21               I45V     1
6     RAD21              Q474*     1
5     RAD21              L372L     1
5     BRCA2              V741L     1

[744 rows x 3 columns]

In [86]:
big_df.to_csv('mutation_frequencies_by_gene.csv', index=False)